body {
  /* background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
  background: #dce3e8;
  background-repeat: repeat;
  background-size: 100%;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Averia Gruesa Libre';
}

label, a, button{
  font-family: 'Averia Gruesa Libre';
}
.content-section {
  border: 2px solid black;
  border-radius: 7px;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 8px 12px 17px grey;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: 'Averia Gruesa Libre';
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.article-title{
  color: #063b43;
  text-transform: capitalize;
}

a.article-title:hover{
  color:#1a3e43;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-size: 18px;
  margin-left: 10px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

p{
  text-align: justify;
}
.name{
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
}
.rating_pc{
  margin-left: 18vw;
}
.rating_mob{
  display: none;
}
@media (max-width:1000px) {
  .rating_pc{
    display: none;
  }
  .rating_mob{
    display: inline;
  }
}
